/* Figma Styles of your File */
:root {
  /* Colors */
  --green: #5ba44c;
  --white: #ffffff;
  --bllack-blue: #1a2844;
  --257eba: #257eba;

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
